extends layout/_base

block content
  h1 fitmoney
    form
      label(for="") 돈을 입력하세요. (돈 입력 후 enter입력 또는 add 클릭)
      input(type="text")
      button add
    form
      label(for="") 여러 개 입력하는 곳 (입력 후enter 또는 add 클릭)</label>
      textarea
      button add

    ul
    button 모두 지우기
    button 100,000원 조합 찾기
    div
      h2 결과
      ul
