extends layout/_base

block jsscript
  script(defer src="js/app.js")

block content
  h1 Home page
  ul
    li
      a(href="taxcal") 나갔는 돈 들어온 돈 서로 맞추기
    li
      a(href="fitmoney") 목표돈에 맞는 돈 종류 찾기
